[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-autoslug = "*"
pillow = "*"
ai-django-core = "*"
crispy-tailwind = "*"
django-taggit = "*"
django-tailwind = "*"

[dev-packages]

[requires]
python_version = "3.10"
